@use "../../stylesheets/design-template/colors.scss";
@use "../../stylesheets/design-template/fonts.scss";
@use "../../stylesheets/design-template/spacing.scss";

header {
  .header-container {
      max-width: 80%;
      margin: 0 auto;
  }

  .header-content {
    max-width:700px;
  }

  h6 {
    color: colors.$text-color-secondary;
  }


  h1, h3 {
    margin-bottom: spacing.$small;
  }

}
